:root {
    --primary-color: orangered;
    --secondary-color: #f4f4f4;
    --shadow-color: #e6e3e3;
    --font-default: Sans-serif;
    --bg: white;
    --color: black;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  }

  body {
    margin: 0px;
    background-color: white;
    font-family: sans-serif;
  }

  .toolbar{
    display: flex;
    padding-left: 20PX;
    width: 100%;
    position: fixed;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
    height: 80px;
    align-items: center;
    align-content: center;
    background-color: white;
    box-shadow: 0px 5px 5px var(--shadow-color);
  }

  .login-box{
    margin-right: 25px;
    width: 100px;
    border: solid 1px grey;
    border-radius: 100px;
    height: 40px;
    padding-left: 5px;
    display:flex;
    align-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .login-box:hover {
    background-color: black;
    color: white;
    border: solid 1px black;
  }


  .banner{
    width: 96%;
 
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    background-color: rgb(225, 224, 224);
  }
  .a-menu-active{
    padding-bottom: 5px;
    text-underline-offset: 15%;
    color: var(--primary-color);
  }

  .a-menu{
    text-decoration: none;
    color: black;
  }

  .cart-container {
    position: relative;
    display: inline-block;
    font-size: 24px; /* Adjust the size of the cart icon */
    color: #333; /* Color of the cart icon */
}

.cart-indicator {
    position: absolute;
    top: -10px; /* Position the badge above the cart icon */
    right: -10px; /* Position the badge to the right of the cart icon */
    background-color: var(--primary-color); /* Background color of the badge */
    color: white; /* Text color of the badge */
    border-radius: 50%; /* Make the badge round */
    padding: 2px 6px; /* Padding around the badge text */
    font-size: 12px; /* Font size of the badge text */
    font-weight: bold; /* Make the badge text bold */
}
.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-indicator-2 {
  position: absolute;
  top: 20px; /* Adjust this value to position the indicator vertically */
  right: 20px; /* Adjust this value to position the indicator horizontally */
  background-color: orangered;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}
.product-image {
  flex: 1;
  display: flex;

  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px;
  
}

.product-image img {
  width: 300px;
  height: 300px;
  background-color:rgb(243, 243, 243);
  padding: 30px;
  border-radius: 20px;

}
.product-container {
  display: flex;
  background-color:white;
  padding: 20px;
  border-radius: 8px;
  margin-top: 130px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  max-width: 1200px;
}

.product-details {
  flex: 1;
  padding: 20px;
  padding-top: 50px;
  padding-left: 30px;
}

.details-div-one:hover{
  box-shadow: 0px 0px 20px grey;
}

.product-details h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #333;
}

.product-details p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

button i {
  margin-left: 5px;
}

.add-to-cart {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.buy-now {
  background-color: white;
  color: black;
  border: 1px solid grey;
  border-radius: 15px;
  
}


.main-div{
  width:80%;
  padding-left: 10%;
  padding-right: 10%;
}

/* Hover animation for buttons */
.wrapper {
  padding: 0;
  filter: url('#goo');
}

.button {
  display: inline-block;
  text-align: center;
  background: var(--primary-color);
  color: var(--bg);
  font-weight: bold;
  padding: 1.0em 1.32em 1.03em;
  line-height: 1;
  border-radius: 0px;
  position: relative;
  min-width: 8.23em;
  text-decoration: none;
  font-family: var(--font);
  font-size: 18px;
}

.button:before,
.button:after {
  width: 4.4em;
  height: 2.95em;
  position: absolute;
  content: "";
  display: inline-block;
  background: var(--primary-color);
  border-radius: 50%;
  transition: transform 1s ease;
  transform: scale(0);
  z-index: -1;
}

.button:before {
  top: -25%;
  left: 20%;
}

.button:after {
  bottom: -25%;
  right: 20%;
}

.button:hover:before,
.button:hover:after {
  transform: none;
}


.home-products-div{

  margin-top: 30px;
  margin-bottom: 50px;
  white-space: nowrap; /* Prevent line breaks */
  overflow-x: auto;
}


.product-div-one{
  display: inline-block;
  
  width: 150px;
  margin-right: 20px;
  height: 220px;
  border-radius: 10px;
  align-items: center;
  justify-self: center;
  text-align: center;
  padding-top: 20px;
  transition: 0.5s;
  background-color: var(--secondary-color);
}

.product-div-one:hover{
  background-color: white;
  border: 0.5px solid grey;
  box-shadow: 0px 0px 30px var(--shadow-color);
}

.original-price {
  text-decoration: line-through;
  color: #999; /* Optional: Adjust the color of the strike-through */
}
.discounted-price {
  color: red; /* Optional: Adjust the color of the discounted price */
}

.details-div-one{
  width: 100%;
  height: 450px;
  border-radius: 50px;
  background-color: var(--secondary-color);
  display: flex;
  transition: 1s;
}

.whyus-div{
  text-align: center;
  margin-bottom: 50px;

}

.whyus-div-one{
  width: 20%;
  height: 150px;
  padding-top: 50px;
  max-width: 300px;
  padding-bottom: 50p;
  background-color: white;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid grey;
  margin-left: 20px;
  box-shadow: 0px 0px 10px var(--shadow-color);
}

.whyus-div-two{
  width: 25%;
  height: 200px;
  padding-top: 50px;
  max-width: 300px;
  padding-bottom: 50p;
  margin-left: 20px;
  background-color: white;
  margin-right: 20px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid grey;
  box-shadow: 0px 0px 10px var(--shadow-color);
}


.how-div{
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230722/pngtree-reflections-on-office-desk-close-up-of-computer-screen-and-supplies-image_3783611.jpg"); /* Specify the path to your image */
  background-size: cover; /* Optional: Cover the entire div */
  background-position: center; /* Optional: Center the image */
  width: 100%; /* Example width */
  height: auto; /* Example height */

}

.how-div-fader {
  width: 100%; /* Example width */
  height: auto; /* Example height */
  padding-top: 20px;
  background-color: rgba(0, 0, 0, 0.383);
  text-align: left;
  padding-bottom: 30px;
}

.blur-div{
  padding: 35px;
  backdrop-filter: blur(8px); /* Adjust the blur radius */
            -webkit-backdrop-filter: blur(8px); /* For Safari */
            background-color: rgba(255, 255, 255, 0.329); 
            border-radius: 20px;
}

.video-button{
  background-color: rgba(0, 0, 0, 0.412);
  border-radius: 100px;
  border: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
}



/* slide show */


/*
PURE RESPONSIVE CSS3 SLIDESHOW GALLERY by Roko C. buljan
http://stackoverflow.com/a/34696029/383904
*/

.CSSgal {
  position: relative;
  overflow: hidden;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 100px rgb(226, 225, 225);

  /* Or set a fixed height */
}

/* SLIDER */

.CSSgal .slider {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.CSSgal .slider > * {
  font-size: 1rem;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  height: 100%;
  width: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.CSSgal .prevNext {
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 100%;
  height: 0;
}

.CSSgal .prevNext > div+div {
  visibility: hidden; /* Hide all but first P/N container */
}

.CSSgal .prevNext a {
  background: #fff;
  position: absolute;
  width:       60px;
  height:      60px;
  line-height: 60px; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}
.CSSgal .prevNext a:hover {
  opacity: 1;
}
.CSSgal .prevNext a+a {
  left: auto;
  right: 0;
}

/* NAVIGATION */

.CSSgal .bullets {
  position: absolute;
  z-index: 2;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}
.CSSgal .bullets > a {
  display: inline-block;
  width:       30px;
  height:      30px;
  line-height: 30px;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
          transition: 0.3s;
}
.CSSgal .bullets > a+a {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   CSSgal CUSTOM STYLES / OVERRIDES HERE: */

.CSSgal{
  color: #fff;  
  text-align: center;
  
  height: 400px;
}
.CSSgal .slider h2 {
  margin-top: 40vh;
  font-weight: 200;
  letter-spacing: -0.06em;
  word-spacing: 0.2em;
  font-size: 3em;
}
.CSSgal a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}



/* Footer */

.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #fff;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;

}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}


/* Loader */

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color:black;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}


/* prodcut css */

.suggestion-text{
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.053);
  border-radius: 5px;
  font-weight: normal;
  margin: 0px;
  height: 32px;
  align-items: center;
  justify-content: space-between;
  justify-self: center;
  margin-right: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}



.search-input {
  border: none;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  outline: none;
  border-radius: 5px 0 0 5px;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  grid-auto-flow: dense;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}



.product-div-one-search{
  width: 200px;
  margin-right: 20px;
  height: 340px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  text-align: center;
  padding-top: 10px; 
  transition: 0.5s;
  margin-bottom: 10px;
  border: 0.5px solid black;
  background-color: white;
}


.product-div-one-search:hover{
  background-color: white;
  border: 0.5px solid orangered;
  box-shadow: 0px 0px 30px var(--shadow-color);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

.overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.active-suggestion{
  font-weight: normal;
  border: 2px solid rgb(255, 255, 255);
  height: 30px;
  color: white;
  background-color: orangered;
  box-shadow: 0px 0px 5px var(--shadow-color);
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  border-radius: 100px;
}

.not-active-suggestion{
  font-weight: normal;
   border: 0.5px solid grey;
    height: 30px;
     padding-left: 12px;
      padding-right: 12px;
      cursor: pointer;
      color: gray;
       display: flex;
        text-align: center;
         justify-content: center; 
         align-items: center; 
         transition: 0.5s;
         border-radius: 100px;
}

.not-active-suggestion:hover{
  font-weight: normal;
   border: 0.5px solid orangered;
    height: 30px;
     padding-left: 12px;
      padding-right: 12px;
      cursor: pointer;
      color: orangered;
       display: flex;
        text-align: center;
         justify-content: center; 
         align-items: center; 
         border-radius: 100px;
}


/* product overview page */

.image-div-left{
  width: auto;
  height: auto;
  display: flex;
  margin-left: 10px;

  text-align: center;
  
}

.product-image{
  width: 300px;
  height: 300px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;

}

.product-image-option-deactive{
  width: 40px;
  padding: 10px;
  margin-right: 30px;
  display: block;
  margin-top: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  
}

.product-image-option-deactive:hover{
  box-shadow: 0px 0px 10px var(--shadow-color);
  border: 1px solid orangered;
  
}

.product-image-option-active{
  width: 60px;
  padding: 10px;
  margin-top: 10px;
  margin-right: 30px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  border: 1px solid orangered;
  
}

.details-div-right{
  margin-left: 50px;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  cursor: pointer;
}

/* HTML: <div class="loader"></div> */
.loader-dots {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
}
@keyframes l5 {
    0%  {box-shadow: 20px 0 #ffffff, -20px 0 rgba(255, 255, 255, 0.133);background: #ffffff }
    33% {box-shadow: 20px 0 #ffffff, -20px 0 rgba(255, 255, 255, 0.133);background: rgba(255, 255, 255, 0.133)}
    66% {box-shadow: 20px 0 rgba(255, 255, 255, 0.133),-20px 0 #ffffff; background: rgba(255, 255, 255, 0.133)}
    100%{box-shadow: 20px 0 rgba(255, 255, 255, 0.133),-20px 0 #ffffff; background: #ffffff }
}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -135px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 80px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 80px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 80px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 80px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}




.address{
  width: 300px;
  border: 1px solid orangered;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  padding: 20px;
}

.address-not-use{
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--shadow-color);
  padding: 20px;
}




.grid-container-address {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 20px;
  grid-auto-flow: dense;
  width: 100%;
  margin: auto;
  
}



.no-address{
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

#div-mobile{
  display: none;
}


.list-address{
  padding-left: 50px;
}

/* // bottom bar */

@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed';



.wrapper-2 {
	min-height: 100%;
  height: 100vh;
	position: relative;
  padding-top: 24px;
  text-align: center;

}

#bottom-bar {
	width: 100%;
	background-color: #ffffff;
	position: fixed;
  visibility: hidden;
  bottom: 0;
  box-shadow: 0px 0px 10px var(--shadow-color);
}

.bottom-bar-element {
	width: 20%;
	display: inline-block;
  float: left;
	text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 70px;
	padding-top: 16px;
	padding-bottom: 16px;
	color: rgb(0, 0, 0);
  cursor: pointer;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.bottom-bar-element:hover {
	color: black;
}

#bottom-bar:hover .bottom-bar-element {
	color: black;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.icon-bottom-bar{
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 100px;
}

.icon-bottom-bar-deselected{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(97, 97, 97);
  border-radius: 10px;
}
/* Medira queries */
@media (max-width: 908px) {
  #div-pc{
    display: none;
  }

  #div-mobile{
    height: 100vh;
    width: 100%;
    display: block;
  }

  .toolbar-m{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 10px;
    top: 0px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    background-color: white;
    z-index: 5;
  }

  .main-div-m{
    width: 93%;
    margin-left: 3.5%;
    margin-right: 2.5%;
    height: 80vh;
  }

  .search-div-m{
    display: flex;
  }

  .search-left{
    width: 80%;
    height: 50px;
    background-color: rgb(247, 247, 247); 
    border-radius: 5px; 
    display: flex;
    padding-left: 10px;
    align-items: center;
  }

  .search-right{
    width: 60px;
    height: 50px;
    margin-left: 10px;
    background-color: rgb(247, 247, 247); 
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .category-div-m{
    display: flex;
    width: auto;
    overflow-y: auto;
    max-lines: 1;
    align-items: center;

  }

  .home-category{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: gray;
    font-size: 14px !important;
    margin-right: 10px;
    border-radius: 100px;
    border: 0.3px solid rgb(199, 195, 195);
    font-weight: normal;
    height: 20px;
    max-lines: 1;
    white-space: nowrap;
    padding-bottom: 5px;
    background-color: white;
  }

  .home-category-selected{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    margin-right: 10px;
    border-radius: 100px;
    box-shadow: 0px 0px 10px var(--shadow-color);
    color: rgb(255, 252, 252);
    font-weight: normal;
    padding-bottom: 5px;
    background-color: orangered;
  }

  .details-div-one-m{
    height: 500px;
    background-color: var(--secondary-color);
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
  }

  .product-image-m{
    width: 150px;
  }

  .whyus-div-one{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .whyus-div-two{
    width: 80%;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  
  
  a:hover {
    opacity: 0.5;
  }
  
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  
  
  nav {
    background-color: green;
    height: 65px;
  }
  
  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0px;
    right: 0px; /* Change this from left to right */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }
  
  #menuToggle span {
    display: flex;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 400px;
    height: 100vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px -180px 0 0; /* Adjust margins to start from the right */
    padding: 50px;
    padding-left: 30px;
    padding-top: 125px;
    background-color: #ffffff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 100% 0%; /* Change transform-origin to right */
    transform: translate(100%, 0); /* Adjust translate to start from the right */
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
  
  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul {
    transform: translate(-60%, 0); /* Adjust to translate to the left */
  }

  .product-div-one-search{
    margin-right: 20px;
    height: 340px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    text-align: center;
    margin: 0px;
    padding-top: 10px; 
    transition: 0.5s;
    width: 190px;
    margin-bottom: 10px;
    border: 0.5px solid rgb(147, 147, 147);
    background-color: white;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 10px;
    grid-auto-flow: dense;
    width: 100%;
    margin: auto;
  }


.bottomSheet {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 30px 30px 0px 0px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease forwards;
  transform: translateY(100%);
}

.bottomSheetContent {
  max-width: 600px;
  margin: 0 auto;
}

#closeBottomSheet {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.toolbar{
  display: none;
}

.list-address{
  padding-left: 20px;
  padding-right: 20px;
}

.dialog{
  width: 70%;
}

.product-image-option-deactive{
  width: 40px;
  padding: 10px;
  margin-right: 10px;
  display: block;
  margin-top: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  
}

#bottom-bar {
	width: 100%;
	background-color: #ffffff;
	position: fixed;
  visibility: visible;
  bottom: 0;
  box-shadow: 0px 0px 10px var(--shadow-color);
}
}



